{% import "views/macros/pagination.html.twig" as pag %}

{% if is_ajax != true %}
  {% extends "views/layout.html.twig" %}
{% endif %}

{% block content %}

<div class="page-header" style="margin-top: 20px;">
  <div class="btn-toolbar pull-right">
    <div class="btn-group">

      {#{% if user.is_admin %}#}
      <a href="/import" type="button" class="btn btn-primary"><i class="fa fa-upload" aria-hidden="true"></i> Import</a>
      {#{% endif %}#}

      <a href="/" type="button" class="btn btn-primary" onclick="showAddItem({{ item['id'] }}); return false;" style="margin-left: 5px;"><i class="fa fa-plus" aria-hidden="true"></i> Add item</a>
      <a href="/export{{ url | build({page: 1}) }}" style="margin-left: 5px;" type="button" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Export to csv</a>
    </div>
  </div>
  <h2 style="margin-top: 0;">List of items ({{pagination.total}})</h2>
</div>

<div class="">

  {% if 0 and query and not items.length %}
  {% else %}

  <div class="col-md-2" id="aggregations" style="padding-left: 0;">
    {% include "views/aggregations.html.twig" %}
  </div>
  <div class="col-md-10" style="padding-right: 0;">

    <div class="clearfix"></div>

    <div class="pull-right" style="margin-bottom: 10px;">
      <select id="select_per_page" name="select_per_page" class="form-control pull-left" style="width: auto; margin-top: 0px;">
        <option value="">Items per page</option>
        {% for v in [10,20,30, 50, 100, 200, 500, 1000] %}
        <option {% if pagination.per_page == v %}selected{% endif %} value="{{ v }}">{{ v }}</option>
        {% endfor %}
      </select>

      <select id="select_sorting" name="select_sorting" class="form-control pull-left" style="width: auto; margin-top: 0px; margin-left: 10px;">
        <option value="">Sort name</option>
        {% for v in sortings %}
        <option {% if v.name == sort %}selected{% endif %} value="{{ v.name }}">{{ v.title }}</option>
        {% endfor %}
      </select>
    </div>


    <div class="clearfix"></div>


    {% include "views/breadcrumbs.html.twig" %}

    <table class="table table-striped table-items" style="width: 100%;">
    <thead>
      <tr class="">
        <th><input class="check-all" type="checkbox" /></th>
      </tr>
    </thead>
      <tbody>
      {% for item in items %}
      <tr data-toggle="collapse" data-target="#item{{ loop.index }}" data-id="{{ item.id }}">

        <td>
          <input type="checkbox" class="item-checkbox" />
        </td>

        {% if item.image %}
        <td><img style="width: 50px;" src="{{ item.image }}"></td>
        {% elseif item.domain %}
        <td><img style="width: 50px;" src="https://logo.clearbit.com/{{ item.domain }}"></td>
        {% endif %}

        <td>
          {% if item.domain %}
          <b>{{ item.domain }}</b>
          {% elseif item.name %}
          <b>{{ item.name }}</b>
          {% endif %}
          <br />

          {% if item.description %}
          {{ item.description }}
          {% elseif item.meta_description %}
          {{ item.meta_description }}
          {% endif %}
        </td>
        <td>
          <span class="tags-element" v-for="tag in item.usage">{{ tag }}</span>
        </td>
        <td>
          <span class="tags-element" v-for="tag in item.tags">{{ tag }}</span>
        </td>



        <td>
          <a title="show details" href="#" class="action-icon" onclick="return showItem({{ item.id }});"><i class="fa fa-window-maximize" aria-hidden="true"></i></a>
          <a title="edit information" href="#" class="action-icon" onclick="return showEditItem({{ item.id }});"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          <a title="delete item" href="#" class="action-icon" onclick="return deleteItem({{ item.id }});"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </td>
      </tr>

      {% endfor %}
      </tbody>
    </table>


    <div class="clearfix">
    </div>
    {% include "views/macros/pagination.html.twig" %}


    <div class="pagination-bar text-right">
      {{ pag.pagination_render(pagination, {
        pages_count: 8,
        url: url
      }) }}
    </div>

    {% endif %}

    <br />
    <br />
    <br />
    <br />


  </div>
</div>

{% endblock %}

{% block before_head_end %}
<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/start/jquery-ui.css" />
{% endblock %}

{% block before_body_end %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js'></script>

<script>
  $(function() {

    {% for name, v in aggregations_config %}
    {% if v.is_search %}

    $("#aggregation_autocomplete_{{ name }}").autocomplete({
      minLength: 0,
      source: function(request, response) {

        $.ajax({
          url: '/facet/{{ name}}',
          //dataType: 'jsonp',
          data: {
            query: request.term
          },
          success: function( data ) {
            response( data );
          }
        });
      },
      select: function(event, ui) {
        console.log(ui.item.label)
        aggregationTrigger('{{ name }}', ui.item.label);
        return false;
      }
    })

    {% endif %}
    {% endfor %}
  });
</script>

{% endblock %}
