<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">View item: {{ item.id }}</h4>
  <span class="text-muted">Created: {{ row.created_at | date('D MMM YYYY') }}, updated {{ row.updated_at | date('D MMM YYYY') }}</span>
</div>
<div class="modal-body item-view">


  <div class="text-right" style="margin-bottom: 10px;">
    <a style="" class="item-submit btn btn-default" onclick="return showEditItem({{ item['id'] }});">Edit</a>
    <a style="" class="item-submit btn btn-default" onclick="return showRawData({{ item['id'] }});">Raw data</a>
    <a title="You can also use keyboard left key" class="btn btn-default" onclick="navigateItem('left')" style=""><i class="fa fa-arrow-left" aria-hidden="true"></i> Prev</a>
    <a title="You can also use keyboard right key" class="btn btn-default" onclick="navigateItem('right')">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
  </div>

  <div class="row" style="margin-bottom: 10px;">
    <div class="col-sm-3">
      {#<img class="img-responsive" src="{{ item.image }}" />#}

      <img class="img-responsive" src="https://logo.clearbit.com/{{ item.domain }}" style="margin: 0 auto;" />

    </div>
    <div class="col-sm-9">

      {#<a style="margin-bottom: 10px;" class="item-submit btn btn-default pull-right" onclick="return showEditItem({{ item['id'] }});">Edit</a>
      <a style="margin-right: 5px;" class="item-submit btn btn-default pull-right" onclick="return showRawData({{ item['id'] }});">Raw data</a>

      <a class="btn btn-default" onclick="navigateItem('left')"style="margin-left: 20px;"><i class="fa fa-arrow-left" aria-hidden="true"></i> Prev</a>
      <a class="btn btn-default" onclick="navigateItem('right')">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>#}

      <ul class="nav nav-tabs" id="config-tabs">
        <li role="presentation" class="active"><a href="#basic-tab">Basic</a></li>
        <li role="presentation" class=""><a href="#changelog-tab">Changelog ({{ changelog.length }})</a></li>
      </ul>

      <div class="clearfix" style="margin-bottom: 20px;"></div>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active in" role="tabpanel" id="basic-tab">

          <table class="table table-striped" style="margin-bottom: 0;">
            <tbody>

            {#list all fields with value#}
            {#{% for key, val in item %}
            <tr>
              <td><b>{{ key }}</b></td>
              <td>
                {{ val }}
              </td>
            </tr>
            {% endfor %}#}

            {#list all fields configured by user#}
            {% for field in fields_list %}
            <tr>
              <td><b>{{ __('item.' + field) }}</b></td>
              <td>
                {% if item[field] and item_schema[field] and item_schema[field].type == 'array' %}
                  {% for element in item[field] %}
                  <span class="tags-element">{{ element }}</span>
                  {% endfor %}
                {% elseif item[field] and item_schema[field] and item_schema[field].type == 'url' %}
                  <a target="_blank" href="{{ item[field] }}">{{ item[field] }}</a>
                {% elseif field == 'domain' %}

                  <a target="_blank" href="http://{{ item[field] }}"><i class="fa fa-external-link" aria-hidden="true"></i> {{ item[field] }}</a>
                {% else %}
                  {{ item[field] }}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="tab-pane" role="tabpanel" id="changelog-tab">
          This feature is not active at the moment


          <table class="table table-striped">
            <thead>
              <tr>
                <th>Source</th>
                <th>Changes</th>
                <th>Created At</th>
              </tr>
            </thead>
            <tbody>
            {% for row in changelog %}
            {% include "views/partials/changelog_item_row_new.html.twig" %}
            {% endfor %}

          </table>



        </div>
      </div>




      <span class="dev-help">Developer help</span> <span  style="cursor: pointer;" data-toggle="tooltip" data-placement="right" title="In order to edit field list go to `item_page`" class="glyphicon glyphicon-info-sign dev-help" aria-hidden="true"></span>

      {#<a class="item-submit btn btn-default pull-right" onclick="return showEditItem({{ item['id'] }});">Edit</a>#}


    </div>

    <div class="text-center">
    </div>

  </div>
</div>

<script>
  $('.show-info').popover({
    delay: 600,
    placement: 'bottom',
    trigger: 'hover'
  })
</script>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<script>
$('#config-tabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>

